.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

a:hover {
  text-decoration: underline;
  color: var(--mdc-text-button-label-text-color, var(--mat-app-primary));
}
