@if (!this.isLoggedIn()) {
  <div>
    <mat-toolbar>
      <span>BatiSmart</span>
      <span class="spacer"></span>
      <a routerLink="/register">
        <mat-icon>app_registration</mat-icon>
        <span>S'enregistrer</span>
      </a>
      <a routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Se connecter</span>
      </a>
    </mat-toolbar>
  </div>
}
@if (this.isLoggedIn()) {
  <div>
    <mat-toolbar>
      <span>BatiSmart</span>
      <span class="spacer"></span>
      <a routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        <span>Tableau de bord</span>
      </a>
      <a routerLink="/devis">
        <mat-icon>receipt_long</mat-icon>
        <span>Mes devis</span>
      </a>
      <a routerLink="/facture">
        <mat-icon>request_quote</mat-icon>
        <span>Mes factures</span>
      </a>
      <a routerLink="/client">
        <mat-icon>groups</mat-icon>
        <span>Mes clients</span>
      </a>
      <a routerLink="/edit">
        <mat-icon>edit_square</mat-icon>
        <span>Editer</span>
      </a>
      <span class="spacer"></span>
      <button mat-icon-button class="icon" (click)="this.logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </div>
}

